{
  "openapi": "3.0.3",
  "info": {
    "title": "BookingShake API",
    "description": "The BookingShake API allows you to programmatically create and manage events, bookings, and related resources. Integrate BookingShake with your applications to automate event creation, retrieve booking sources, spaces, statuses, and custom fields.\n\n**Rate Limiting:** All endpoints are rate limited per API key. POST /events/create allows 10 requests per minute, while GET endpoints allow 60 requests per minute. Rate limit information is provided in response headers (X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset).",
    "version": "1.0.0",
    "contact": {
      "name": "BookingShake Support",
      "email": "support@bookingshake.com",
      "url": "https://bookingshake.com"
    }
  },
  "servers": [
    {
      "url": "https://api.bookingshake.io/api",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Create and manage events and bookings"
    },
    {
      "name": "Resources",
      "description": "Retrieve booking sources, spaces, and statuses"
    },
    {
      "name": "Fields",
      "description": "Retrieve available custom and default fields"
    },
    {
      "name": "Invoices",
      "description": "Retrieve issued invoices"
    },
    {
      "name": "Payments",
      "description": "Retrieve payments"
    }
  ],
  "paths": {
    "/events/create": {
      "post": {
        "summary": "Create events",
        "description": "Create one or several events (bookings) with contact information and optional company details. Multiple bookings in a single request will be grouped together. Optionally include products to create a draft quotation.",
        "operationId": "createEvents",
        "tags": ["Events"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventRequest"
              },
              "examples": {
                "single-event": {
                  "summary": "Single event",
                  "description": "Create a single event with basic information",
                  "value": {
                    "bookings": [
                      {
                        "date": "15-03-2025",
                        "start_time": "14:00",
                        "end_time": "18:00",
                        "pax": "50",
                        "event_type": "Corporate Event",
                        "comments": "Setup needed at 13:00"
                      }
                    ],
                    "contact": {
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "john.doe@example.com",
                      "phone": "+33123456789"
                    },
                    "source_slug": "website"
                  }
                },
                "multiple-events": {
                  "summary": "Multiple events (group booking)",
                  "description": "Create multiple events in a single request - they will be grouped together",
                  "value": {
                    "bookings": [
                      {
                        "date": "15-03-2025",
                        "start_time": "09:00",
                        "end_time": "12:00",
                        "pax": "30",
                        "space_id": "space_abc123",
                        "event_type": "Workshop"
                      },
                      {
                        "date": "15-03-2025",
                        "start_time": "14:00",
                        "end_time": "17:00",
                        "pax": "30",
                        "space_id": "space_abc123",
                        "event_type": "Workshop"
                      }
                    ],
                    "contact": {
                      "first_name": "Jane",
                      "last_name": "Smith",
                      "email": "jane.smith@company.com",
                      "phone": "+33987654321"
                    },
                    "company": {
                      "name": "Tech Corp",
                      "address_line_1": "456 Innovation Ave",
                      "city": "Lyon",
                      "country": "France"
                    }
                  }
                },
                "event-with-products": {
                  "summary": "Event with products (draft quotation)",
                  "description": "Create an event with products to generate a draft quotation",
                  "value": {
                    "bookings": [
                      {
                        "date": "20-04-2025",
                        "start_time": "10:00",
                        "end_time": "16:00",
                        "pax": "100",
                        "event_type": "Conference",
                        "products": [
                          {
                            "title": "Conference Room Package",
                            "quantity": 1,
                            "price_without_tax": 50000,
                            "vat": 2000
                          },
                          {
                            "title": "Catering Service",
                            "quantity": 100,
                            "price_without_tax": 2500,
                            "vat": 1000
                          },
                          {
                            "title": "AV Equipment",
                            "quantity": 1,
                            "price_without_tax": 15000,
                            "vat": 2000
                          }
                        ]
                      }
                    ],
                    "contact": {
                      "first_name": "Alice",
                      "last_name": "Johnson",
                      "email": "alice@events.com",
                      "phone": "+33111222333",
                      "position": "Event Coordinator"
                    },
                    "company": {
                      "name": "Global Events Inc",
                      "siret": "12345678901234",
                      "address_line_1": "789 Business Blvd",
                      "postal_code": "75001",
                      "city": "Paris",
                      "country": "France"
                    },
                    "source_slug": "direct"
                  }
                },
                "event-with-custom-fields": {
                  "summary": "Event with custom fields",
                  "description": "Create an event with custom field values for booking, contact, and company. Field codes follow the format 'custom_XXXXXXXXXXX' and can be found via GET /fields.",
                  "value": {
                    "bookings": [
                      {
                        "date": "15-06-2025",
                        "start_time": "18:00",
                        "end_time": "23:00",
                        "pax": "150",
                        "event_type": "Gala Dinner",
                        "custom_fields": {
                          "custom_a1b2c3d4e5": "20000-50000",
                          "custom_f6g7h8i9j0": "Black Tie"
                        }
                      }
                    ],
                    "contact": {
                      "first_name": "Marie",
                      "last_name": "Dupont",
                      "email": "marie.dupont@example.com",
                      "phone": "+33612345678",
                      "custom_fields": {
                        "custom_k1l2m3n4o5": "fr",
                        "custom_p6q7r8s9t0": "referral"
                      }
                    },
                    "company": {
                      "name": "Luxury Events SA",
                      "address_line_1": "10 Avenue des Champs-Élysées",
                      "postal_code": "75008",
                      "city": "Paris",
                      "country": "France",
                      "custom_fields": {
                        "custom_u1v2w3x4y5": "100-500",
                        "custom_z6a7b8c9d0": "premium"
                      }
                    },
                    "source_slug": "website"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events created successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Maximum requests allowed per minute (10 for this endpoint)"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the current window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp when the rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing-token": {
                    "summary": "Missing authentication token",
                    "value": {
                      "message": "missing token"
                    }
                  },
                  "invalid-token": {
                    "summary": "Invalid authentication token",
                    "value": {
                      "message": "invalid token"
                    }
                  },
                  "empty-body": {
                    "summary": "Empty request body",
                    "value": {
                      "message": "body is empty"
                    }
                  },
                  "invalid-body": {
                    "summary": "Invalid request body format",
                    "value": {
                      "message": "invalid body"
                    }
                  },
                  "missing-bookings": {
                    "summary": "Missing bookings array",
                    "value": {
                      "message": "missing bookings"
                    }
                  },
                  "too-many-bookings": {
                    "summary": "Too many bookings (max 20)",
                    "value": {
                      "message": "too many bookings - maximum 20 per request"
                    }
                  },
                  "missing-contact": {
                    "summary": "Missing contact information",
                    "value": {
                      "message": "missing contact"
                    }
                  },
                  "invalid-date": {
                    "summary": "Invalid date format",
                    "value": {
                      "message": "date format must be DD-MM-YYYY"
                    }
                  },
                  "invalid-time": {
                    "summary": "Invalid time format",
                    "value": {
                      "message": "start_time format must be HH:mm"
                    }
                  },
                  "invalid-endtime": {
                    "summary": "Invalid end_time format",
                    "value": {
                      "message": "end_time format must be HH:mm"
                    }
                  },
                  "missing-pax": {
                    "summary": "Missing number of attendees",
                    "value": {
                      "message": "missing pax"
                    }
                  },
                  "invalid-space": {
                    "summary": "Invalid space ID",
                    "value": {
                      "message": "invalid space"
                    }
                  },
                  "invalid-source": {
                    "summary": "Invalid source",
                    "value": {
                      "message": "invalid source"
                    }
                  },
                  "bookings-must-be-array": {
                    "summary": "Bookings must be an array",
                    "value": {
                      "message": "bookings must be an array"
                    }
                  },
                  "missing-date": {
                    "summary": "Missing date in booking",
                    "value": {
                      "message": "missing date"
                    }
                  },
                  "missing-start_time": {
                    "summary": "Missing start time in booking",
                    "value": {
                      "message": "missing start_time"
                    }
                  },
                  "missing-contact-first_name": {
                    "summary": "Missing contact first name",
                    "value": {
                      "message": "missing contact first_name"
                    }
                  },
                  "missing-contact-last_name": {
                    "summary": "Missing contact last name",
                    "value": {
                      "message": "missing contact last_name"
                    }
                  },
                  "missing-contact-email": {
                    "summary": "Missing contact email",
                    "value": {
                      "message": "missing contact email"
                    }
                  },
                  "invalid-contact-id": {
                    "summary": "Invalid contact ID",
                    "value": {
                      "message": "invalid contact_id"
                    }
                  },
                  "invalid-source-slug": {
                    "summary": "Invalid source slug",
                    "value": {
                      "message": "invalid source_slug"
                    }
                  },
                  "invalid-source-id": {
                    "summary": "Invalid source ID",
                    "value": {
                      "message": "invalid source_id"
                    }
                  },
                  "invalid-space-ids": {
                    "summary": "Invalid space ID(s)",
                    "value": {
                      "message": "invalid space_id(s)"
                    }
                  },
                  "missing-products-title": {
                    "summary": "Missing product title",
                    "value": {
                      "message": "missing products title"
                    }
                  },
                  "missing-products-quantity": {
                    "summary": "Missing product quantity",
                    "value": {
                      "message": "missing products quantity"
                    }
                  },
                  "missing-products-price": {
                    "summary": "Missing product price without tax",
                    "value": {
                      "message": "missing products price_without_tax"
                    }
                  },
                  "missing-products-vat": {
                    "summary": "Missing product VAT",
                    "value": {
                      "message": "missing products vat"
                    }
                  },
                  "missing-required-custom-field": {
                    "summary": "Missing required custom field",
                    "value": {
                      "message": "missing required custom field \"Budget Range\" for contact"
                    }
                  },
                  "unknown-custom-field": {
                    "summary": "Unknown custom field code",
                    "value": {
                      "message": "unknown custom field \"custom_invalid123\" for booking[0]"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded - too many requests",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Maximum requests allowed per minute"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining (always 0 on 429)"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp when the rate limit resets"
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitResponse"
                },
                "example": {
                  "message": "Rate limit exceeded",
                  "data": {
                    "limit": 10,
                    "window": "60 seconds",
                    "remaining": 0,
                    "resetAt": "2025-11-17T14:30:00.000Z",
                    "retryAfter": 45
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "error"
                }
              }
            }
          }
        }
      }
    },
    "/sources": {
      "get": {
        "summary": "List booking sources",
        "description": "Retrieve all booking sources (channels) available for your venue. Sources represent where bookings originate from (e.g., Website, Phone, Email, Walk-in).",
        "operationId": "getSources",
        "tags": ["Resources"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of booking sources retrieved successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Maximum requests allowed per minute (60 for this endpoint)"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the current window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp when the rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Source"
                  }
                },
                "example": [
                  {
                    "value": "JKd8f3mP2xQw",
                    "label": "Site web"
                  },
                  {
                    "value": "NmR5t9Kl3zXc",
                    "label": "Téléphone"
                  },
                  {
                    "value": "Qz7Hp4Ln8wYt",
                    "label": "Email"
                  },
                  {
                    "value": "Vb2Mx6Nk9rPq",
                    "label": "Sur place"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad request - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "invalid token"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "error"
                }
              }
            }
          }
        }
      }
    },
    "/spaces": {
      "get": {
        "summary": "List spaces",
        "description": "Retrieve all spaces (rooms/areas) available at your venue. Spaces represent the physical locations where events can be held.",
        "operationId": "getSpaces",
        "tags": ["Resources"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of spaces retrieved successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Maximum requests allowed per minute (60 for this endpoint)"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the current window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp when the rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Space"
                  }
                },
                "example": [
                  {
                    "value": "Lp9Xt2Kj5mQw",
                    "label": "Salle de conférence A"
                  },
                  {
                    "value": "Hn4Yr8Pl6nZx",
                    "label": "Salle de conférence B"
                  },
                  {
                    "value": "Rt3Ws7Gk2bVc",
                    "label": "Grand Ballroom"
                  },
                  {
                    "value": "Pq5Jn9Zm4fLt",
                    "label": "Terrasse panoramique"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad request - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "invalid token"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "error"
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "summary": "List booking statuses",
        "description": "Retrieve all booking statuses available for your venue. Statuses represent the current state of a booking (e.g., Pending, Confirmed, Cancelled).",
        "operationId": "getStatuses",
        "tags": ["Resources"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of booking statuses retrieved successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Maximum requests allowed per minute (60 for this endpoint)"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the current window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp when the rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Status"
                  }
                },
                "example": [
                  {
                    "value": "Dk2Yt5Pm8wQx",
                    "label": "En attente"
                  },
                  {
                    "value": "Zx8Kp3Qm7nRt",
                    "label": "Confirmé"
                  },
                  {
                    "value": "Fm6Hj9Lk4rWs",
                    "label": "Option"
                  },
                  {
                    "value": "Bn7Cx2Vt5pYz",
                    "label": "Annulé"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad request - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "invalid token"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "error"
                }
              }
            }
          }
        }
      }
    },
    "/fields": {
      "get": {
        "summary": "List available fields",
        "description": "Retrieve all available fields (both default and custom) for your venue. Fields include metadata such as type, collection, code, label, and whether they're required in the back office. Custom fields are automatically merged from both venue-level and venue group-level configurations.",
        "operationId": "getFields",
        "tags": ["Fields"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of fields retrieved successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Maximum requests allowed per minute (60 for this endpoint)"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the current window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp when the rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Field"
                  }
                },
                "example": [
                  {
                    "value": "field_event_type",
                    "type": "text",
                    "collection": "reservations",
                    "code": "event_type",
                    "label": "Event Type",
                    "isRequiredInBO": false,
                    "isCustom": false
                  },
                  {
                    "value": "field_date",
                    "type": "date",
                    "collection": "reservations",
                    "code": "date",
                    "label": "Date",
                    "isRequiredInBO": true,
                    "isCustom": false
                  },
                  {
                    "value": "field_source",
                    "type": "select",
                    "collection": "reservations",
                    "code": "source",
                    "label": "Source",
                    "isRequiredInBO": false,
                    "isCustom": false,
                    "data": [
                      {"label": "Website", "value": "src_website"},
                      {"label": "Phone", "value": "src_phone"}
                    ]
                  },
                  {
                    "value": "field_pax",
                    "type": "number",
                    "collection": "reservations",
                    "code": "pax",
                    "label": "Number of Guests",
                    "isRequiredInBO": true,
                    "isCustom": false
                  },
                  {
                    "value": "field_firstname",
                    "type": "text",
                    "collection": "clients",
                    "code": "firstname",
                    "label": "First Name",
                    "isRequiredInBO": true,
                    "isCustom": false
                  },
                  {
                    "value": "field_email",
                    "type": "email",
                    "collection": "clients",
                    "code": "email",
                    "label": "Email",
                    "isRequiredInBO": true,
                    "isCustom": false
                  },
                  {
                    "value": "Abc123XyZ789",
                    "type": "input",
                    "collection": "clients",
                    "code": "custom_a1b2c3d4e5",
                    "label": "Preferred Language",
                    "isRequiredInBO": false,
                    "isCustom": true
                  },
                  {
                    "value": "Def456UvW012",
                    "type": "input",
                    "collection": "reservations",
                    "code": "custom_f6g7h8i9j0",
                    "label": "Budget Range",
                    "isRequiredInBO": true,
                    "isCustom": true
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad request - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "invalid token"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{id}": {
      "get": {
        "summary": "Get an invoice",
        "description": "Retrieve a single invoice by its document ID.\n\nReturns invoices, deposit invoices, balance invoices and their credit notes. Quotes are not exposed by this endpoint and return `404`.",
        "operationId": "getInvoice",
        "tags": ["Invoices"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Invoice document ID (the `id` field carried by the invoice.created webhook).",
            "schema": { "type": "string" },
            "example": "file-789"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice retrieved successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": { "type": "integer" },
                "description": "Maximum requests allowed per minute (60 for this endpoint)"
              },
              "X-RateLimit-Remaining": {
                "schema": { "type": "integer" },
                "description": "Requests remaining in the current window"
              },
              "X-RateLimit-Reset": {
                "schema": { "type": "integer" },
                "description": "Unix timestamp when the rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "success" },
                    "data": { "$ref": "#/components/schemas/Invoice" }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "id": "file-789",
                    "number": "FAC-2026-0042",
                    "type": "balance_invoice",
                    "type_code": 380,
                    "status": "ongoing",
                    "title": "Séminaire Acme — 12 juin 2026",
                    "language": "fr",
                    "currency": "EUR",
                    "created_at": 1749722400000,
                    "due_date": "2026-07-12",
                    "service_start_date": "2026-06-12",
                    "service_end_date": "2026-06-13",
                    "purchase_order_number": "PO-2026-1234",
                    "amount_excl_tax": 175000,
                    "amount_incl_tax": 210000,
                    "taxable_breakdown": { "20": 175000 },
                    "tax_breakdown": { "20": 35000 },
                    "global_discount_excl_tax": 0,
                    "lines": [
                      {
                        "description": "Location salle plénière",
                        "quantity": "1.00",
                        "unit": null,
                        "unit_price_excl_tax": 150000,
                        "discount": 0,
                        "tax_rate": "20.00",
                        "total_excl_tax": 150000
                      },
                      {
                        "description": "Forfait journée d'étude",
                        "quantity": "25.00",
                        "unit": null,
                        "unit_price_excl_tax": 4000,
                        "discount": 0,
                        "tax_rate": "20.00",
                        "total_excl_tax": 100000
                      },
                      {
                        "description": "Déduction acompte FAC-2026-0021 (TVA 20%)",
                        "quantity": "1.00",
                        "unit": null,
                        "unit_price_excl_tax": -75000,
                        "discount": 0,
                        "tax_rate": "20.00",
                        "total_excl_tax": -75000
                      }
                    ],
                    "booking_id": "booking-abc",
                    "quote_id": "quote-123",
                    "linked_invoice_id": null,
                    "deposit_invoices": [
                      {
                        "id": "file-456",
                        "number": "FAC-2026-0021",
                        "date": "2026-05-01",
                        "amount_incl_tax": 90000
                      }
                    ],
                    "account_id": "account-123",
                    "contact_id": "contact-456",
                    "seller": {
                      "id": "venue123",
                      "legal_name": "HOTEL EXAMPLE SAS",
                      "company_type": "SAS",
                      "company_registration_id": "123456789",
                      "vat_number": "FR12345678901",
                      "share_capital": "10 000 €",
                      "company_other_id": null,
                      "address_line_1": "1 place de l'Example",
                      "address_line_2": null,
                      "postal_code": "75001",
                      "city": "Paris",
                      "country": "France",
                      "iban": "FR7612345678901234567890123",
                      "email": "billing@hotel-example.com",
                      "country_code": "FR"
                    },
                    "account": {
                      "id": "account-123",
                      "name": "Acme Corp",
                      "legal_name": "ACME CORPORATION SAS",
                      "company_type": "SAS",
                      "company_registration_id": "987654321",
                      "siret": "98765432100012",
                      "vat_number": "FR98765432101",
                      "rcs_number": "RCS Paris 987 654 321",
                      "address_line_1": "123 rue Example",
                      "address_line_2": "Bâtiment A",
                      "postal_code": "75001",
                      "city": "Paris",
                      "country": "France",
                      "billing_address_line_1": "123 rue Example",
                      "billing_address_line_2": null,
                      "billing_postal_code": "75001",
                      "billing_city": "Paris",
                      "billing_country": "France",
                      "country_code": "FR",
                      "billing_country_code": "FR",
                      "peppol_id": "0009:987654321"
                    },
                    "contact": {
                      "id": "contact-456",
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "john.doe@example.com",
                      "phone": "+33612345678",
                      "landline_phone": null,
                      "title": "Mr",
                      "position": "CEO",
                      "company": "Acme Corp",
                      "address_line_1": null,
                      "address_line_2": null,
                      "postal_code": null,
                      "city": null,
                      "country": null,
                      "country_code": null
                    },
                    "pdf_url": "https://storage.googleapis.com/.../FAC-2026-0042.pdf"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid token or missing invoice id",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "message": "invalid token" }
              }
            }
          },
          "404": {
            "description": "Invoice not found. Returned when the invoice does not exist, belongs to another venue, or is not an invoice (e.g. a quote).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "message": "not found" }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "message": "error" }
              }
            }
          }
        }
      }
    },
    "/payments/{id}": {
      "get": {
        "summary": "Get a payment",
        "description": "Retrieve a single payment by its document ID.\n\nSecurity deposits (holds) are out of scope and return `404`, consistent with the webhooks.",
        "operationId": "getPayment",
        "tags": ["Payments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Payment document ID (the `id` field carried by the payment.* webhooks).",
            "schema": { "type": "string" },
            "example": "payment-789"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment retrieved successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": { "type": "integer" },
                "description": "Maximum requests allowed per minute (60 for this endpoint)"
              },
              "X-RateLimit-Remaining": {
                "schema": { "type": "integer" },
                "description": "Requests remaining in the current window"
              },
              "X-RateLimit-Reset": {
                "schema": { "type": "integer" },
                "description": "Unix timestamp when the rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "success" },
                    "data": { "$ref": "#/components/schemas/Payment" }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "id": "payment-789",
                    "amount": 90000,
                    "status": "paid",
                    "name": "Acompte 30%",
                    "method": "Virement bancaire",
                    "received_date": "2026-06-10",
                    "due_date": "2026-06-15",
                    "created_at": 1749549600000,
                    "updated_at": 1749722400000,
                    "invoice_id": "file-456",
                    "invoice_number": "FAC-2026-0021",
                    "quote_id": "quote-123",
                    "booking_id": "booking-abc"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid token or missing payment id",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "message": "invalid token" }
              }
            }
          },
          "404": {
            "description": "Payment not found. Returned when the payment does not exist, belongs to another venue, or is a security deposit (hold).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "message": "not found" }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "message": "error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Bearer authentication using your BookingShake API key. Retrieve your API key from Settings > Integrations in your BookingShake dashboard."
      }
    },
    "schemas": {
      "Product": {
        "type": "object",
        "required": ["title", "quantity", "price_without_tax", "vat"],
        "properties": {
          "title": {
            "type": "string",
            "description": "Product or service name",
            "example": "Conference Room Package"
          },
          "description": {
            "type": "string",
            "description": "Product or service description (optional)",
            "example": "Full day conference room rental with setup and cleanup"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the product",
            "example": 2,
            "minimum": 1
          },
          "price_without_tax": {
            "type": "integer",
            "description": "Price in cents (centimes) without tax. NOT in euros/dollars. Example: €150.00 = 15000 cents, €35.50 = 3550 cents",
            "example": 15000,
            "minimum": 0
          },
          "vat": {
            "type": "integer",
            "description": "VAT rate in basis points (1/100th of a percent). NOT a percentage. Example: 20% = 2000, 10% = 1000, 5.5% = 550. Range: 0-10000 (0% to 100%)",
            "example": 2000,
            "minimum": 0,
            "maximum": 10000
          }
        }
      },
      "Booking": {
        "type": "object",
        "required": ["date", "start_time", "pax"],
        "properties": {
          "date": {
            "type": "string",
            "description": "Event date in DD-MM-YYYY format",
            "example": "25-12-2024",
            "pattern": "^\\d{2}-\\d{2}-\\d{4}$"
          },
          "start_time": {
            "type": "string",
            "description": "Start time in HH:mm format (24-hour)",
            "example": "14:30",
            "pattern": "^\\d{2}:\\d{2}$"
          },
          "end_time": {
            "type": "string",
            "description": "End time in HH:mm format (24-hour). Optional.",
            "example": "18:00",
            "pattern": "^\\d{2}:\\d{2}$"
          },
          "pax": {
            "type": "string",
            "description": "Number of attendees/guests",
            "example": "50"
          },
          "space_id": {
            "type": "string",
            "description": "ID of the space/room. If not specified, uses the default space (marked in settings), or 'Espace indéterminé', or the first available space.",
            "example": "space_abc123"
          },
          "event_type": {
            "type": "string",
            "description": "Type or category of event (e.g., Conference, Wedding, Meeting)",
            "example": "Corporate Event"
          },
          "comments": {
            "type": "string",
            "description": "Additional notes or special requests for the event",
            "example": "Please prepare projector and whiteboard"
          },
          "products": {
            "type": "array",
            "description": "List of products/services to include in the draft quotation",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "custom_fields": {
            "type": "object",
            "description": "Custom field values for the booking. Keys are field codes (format: 'custom_XXXXXXXXXXX') retrieved from GET /fields. Required custom fields (isRequiredInBO=true) must be provided.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "custom_a1b2c3d4e5": "10000-20000",
              "custom_f6g7h8i9j0": "Corporate"
            }
          }
        }
      },
      "Contact": {
        "type": "object",
        "description": "Contact information. Either provide contact_id to use an existing contact, or provide first_name, last_name, and email to create a new contact.",
        "required": ["first_name", "last_name", "email"],
        "properties": {
          "contact_id": {
            "type": "string",
            "description": "Existing contact ID. If provided, the API uses the existing contact and ignores other contact fields (first_name, last_name, email). If not provided, first_name, last_name, and email are required to create a new contact.",
            "example": "contact_xyz789"
          },
          "first_name": {
            "type": "string",
            "description": "Contact's first name",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "description": "Contact's last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact's email address",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Contact's phone number",
            "example": "+33123456789"
          },
          "position": {
            "type": "string",
            "description": "Contact's job title or position",
            "example": "Event Manager"
          },
          "landline_phone": {
            "type": "string",
            "description": "Contact's landline phone number",
            "example": "+33145678901"
          },
          "title": {
            "type": "string",
            "description": "Contact's title or honorific (e.g., Mr., Mrs., Dr.)",
            "example": "Mr."
          },
          "optin_marketing": {
            "type": "boolean",
            "description": "Marketing communications opt-in status",
            "example": true
          },
          "optin_general": {
            "type": "boolean",
            "description": "General communications opt-in status",
            "example": true
          },
          "address_line_1": {
            "type": "string",
            "description": "Contact's address line 1",
            "example": "123 Main Street"
          },
          "address_line_2": {
            "type": "string",
            "description": "Contact's address line 2 (apartment, suite, etc.)",
            "example": "Apt 4B"
          },
          "postal_code": {
            "type": "string",
            "description": "Contact's postal/ZIP code",
            "example": "75001"
          },
          "city": {
            "type": "string",
            "description": "Contact's city",
            "example": "Paris"
          },
          "country": {
            "type": "string",
            "description": "Contact's country",
            "example": "France"
          },
          "custom_fields": {
            "type": "object",
            "description": "Custom field values for the contact. Keys are field codes (format: 'custom_XXXXXXXXXXX') retrieved from GET /fields. Required custom fields (isRequiredInBO=true) must be provided. Only used when creating a new contact (ignored if contact_id is provided).",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "custom_k1l2m3n4o5": "fr",
              "custom_p6q7r8s9t0": "gold"
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "description": "Company/organization information (optional). Note: A company will only be created if the 'name' field is provided. If the company object is omitted or provided without a name, no company will be created.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Company or organization name",
            "example": "Acme Corporation"
          },
          "legal_name": {
            "type": "string",
            "description": "Legal name of the company (dénomination sociale)",
            "example": "Acme Corporation SARL"
          },
          "company_type": {
            "type": "string",
            "description": "Type of company (e.g., SARL, SAS, SA)",
            "example": "SARL"
          },
          "company_registration_id": {
            "type": "string",
            "description": "SIREN number (French company registration ID)",
            "example": "123456789"
          },
          "siret": {
            "type": "string",
            "description": "SIRET number (French business identification)",
            "example": "12345678901234"
          },
          "vat_number": {
            "type": "string",
            "description": "VAT number (numéro de TVA)",
            "example": "FR12345678901"
          },
          "rcs_number": {
            "type": "string",
            "description": "RCS registration number",
            "example": "Paris B 123 456 789"
          },
          "sector": {
            "type": "string",
            "description": "Business sector or industry",
            "example": "Technology"
          },
          "address_line_1": {
            "type": "string",
            "description": "Company address line 1",
            "example": "123 Main Street"
          },
          "address_line_2": {
            "type": "string",
            "description": "Company address line 2 (building, floor, etc.)",
            "example": "Building A, 3rd Floor"
          },
          "postal_code": {
            "type": "string",
            "description": "Postal/ZIP code",
            "example": "75001"
          },
          "city": {
            "type": "string",
            "description": "City name",
            "example": "Paris"
          },
          "country": {
            "type": "string",
            "description": "Country name",
            "example": "France"
          },
          "billing_address_line_1": {
            "type": "string",
            "description": "Billing address line 1",
            "example": "456 Billing Ave"
          },
          "billing_address_line_2": {
            "type": "string",
            "description": "Billing address line 2",
            "example": "Suite 100"
          },
          "billing_postal_code": {
            "type": "string",
            "description": "Billing postal/ZIP code",
            "example": "75002"
          },
          "billing_city": {
            "type": "string",
            "description": "Billing city",
            "example": "Paris"
          },
          "billing_country": {
            "type": "string",
            "description": "Billing country",
            "example": "France"
          },
          "custom_fields": {
            "type": "object",
            "description": "Custom field values for the company. Keys are field codes (format: 'custom_XXXXXXXXXXX') retrieved from GET /fields. Required custom fields (isRequiredInBO=true) must be provided.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "custom_u1v2w3x4y5": "50-100",
              "custom_z6a7b8c9d0": "IT-001"
            }
          }
        }
      },
      "CreateEventRequest": {
        "type": "object",
        "required": ["bookings", "contact"],
        "properties": {
          "bookings": {
            "type": "array",
            "description": "Array of one or more bookings to create (maximum 20 per request). Multiple bookings will be grouped together.",
            "items": {
              "$ref": "#/components/schemas/Booking"
            },
            "minItems": 1,
            "maxItems": 20
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "source_slug": {
            "type": "string",
            "description": "Booking source slug identifier. Found in Settings > Sources. If not provided, uses the default source (marked in settings), or 'Site web', or the first available source.",
            "example": "website"
          },
          "source_id": {
            "type": "string",
            "description": "Booking source ID. Alternative to source_slug. If neither source_slug nor source_id is provided, uses the default source (marked in settings), or 'Site web', or the first available source.",
            "example": "src_abc123"
          }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Source ID",
            "example": "JKd8f3mP2xQw"
          },
          "label": {
            "type": "string",
            "description": "Source display name (may be in French or configured language)",
            "example": "Site web"
          }
        }
      },
      "Space": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Space ID",
            "example": "Lp9Xt2Kj5mQw"
          },
          "label": {
            "type": "string",
            "description": "Space display name (may be in French or configured language)",
            "example": "Salle de conférence A"
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Status ID",
            "example": "Zx8Kp3Qm7nRt"
          },
          "label": {
            "type": "string",
            "description": "Status display name (may be in French or configured language)",
            "example": "Confirmé"
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Unique field identifier",
            "example": "Abc123XyZ789"
          },
          "type": {
            "type": "string",
            "description": "Field type (e.g., text, number, date, select)",
            "example": "text"
          },
          "collection": {
            "type": "string",
            "description": "Indicates where the field should be used: 'clients' (contact.custom_fields), 'accounts' (company.custom_fields), or 'reservations' (booking.custom_fields)",
            "example": "clients",
            "enum": ["clients", "accounts", "reservations"]
          },
          "code": {
            "type": "string",
            "description": "Field code/identifier. For custom fields, follows the format 'custom_XXXXXXXXXXX'",
            "example": "custom_a1b2c3d4e5"
          },
          "label": {
            "type": "string",
            "description": "Field display label (translated based on venue's default language)",
            "example": "Event Type"
          },
          "isRequiredInBO": {
            "type": "boolean",
            "description": "Whether the field is required in the back office",
            "example": false
          },
          "isCustom": {
            "type": "boolean",
            "description": "Indicates if this is a custom field (true) or a default system field (false)",
            "example": false
          },
          "data": {
            "type": "array",
            "description": "Additional data for select-type fields (list of available options)",
            "items": {
              "type": "object"
            },
            "example": [
              {"label": "Option 1", "value": "opt1"},
              {"label": "Option 2", "value": "opt2"}
            ]
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message describing what went wrong",
            "example": "invalid token"
          }
        }
      },
      "RateLimitResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Rate limit exceeded"
          },
          "data": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "description": "Maximum requests allowed per window",
                "example": 10
              },
              "window": {
                "type": "string",
                "description": "Time window duration",
                "example": "60 seconds"
              },
              "remaining": {
                "type": "integer",
                "description": "Requests remaining (always 0 on rate limit error)",
                "example": 0
              },
              "resetAt": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when the limit resets",
                "example": "2025-11-17T14:30:00.000Z"
              },
              "retryAfter": {
                "type": "integer",
                "description": "Seconds to wait before retrying",
                "example": 45
              }
            }
          }
        }
      },
      "Invoice": {
        "type": "object",
        "description": "An issued invoice. Identical to the `data` block of the invoice.created webhook. All amounts are integer cents; dates are `YYYY-MM-DD` strings in the `Europe/Paris` timezone; missing values are explicit `null`.",
        "properties": {
          "id": { "type": "string", "description": "Unique invoice document ID" },
          "number": { "type": "string", "description": "Invoice number as printed on the PDF" },
          "type": {
            "type": "string",
            "description": "Document type",
            "enum": ["invoice", "deposit_invoice", "balance_invoice", "credit_note", "deposit_credit_note", "balance_credit_note"]
          },
          "type_code": { "type": "integer", "description": "UNTDID 1001 document type code (380, 386, or 381)" },
          "status": { "type": "string", "nullable": true, "enum": ["ongoing", "paid", "canceled"] },
          "title": { "type": "string", "nullable": true, "description": "Title of the related booking" },
          "language": { "type": "string", "nullable": true, "description": "Language the document was issued in (e.g. fr, en)" },
          "currency": { "type": "string", "description": "Always EUR" },
          "created_at": { "type": "integer", "nullable": true, "description": "Issue timestamp, Unix milliseconds" },
          "due_date": { "type": "string", "nullable": true, "description": "Payment due date, YYYY-MM-DD" },
          "service_start_date": { "type": "string", "nullable": true, "description": "Start of the service period, YYYY-MM-DD" },
          "service_end_date": { "type": "string", "nullable": true, "description": "End of the service period, YYYY-MM-DD" },
          "purchase_order_number": { "type": "string", "nullable": true, "description": "Buyer's purchase order reference" },
          "amount_excl_tax": { "type": "integer", "description": "Total excluding tax of this document, in cents" },
          "amount_incl_tax": { "type": "integer", "description": "Total including tax of this document, in cents" },
          "taxable_breakdown": { "type": "object", "additionalProperties": { "type": "integer" }, "description": "Taxable base per VAT rate (key = rate in %, value = cents)" },
          "tax_breakdown": { "type": "object", "additionalProperties": { "type": "integer" }, "description": "Tax amount per VAT rate (key = rate in %, value = cents)" },
          "global_discount_excl_tax": { "type": "integer", "description": "Global discount excluding tax, in cents (not distributed into lines, EN 16931 BG-20)" },
          "lines": { "type": "array", "items": { "$ref": "#/components/schemas/InvoiceLine" } },
          "booking_id": { "type": "string", "nullable": true, "description": "Opaque correlation key of the booking, shared by all invoices and payments of the same booking" },
          "quote_id": { "type": "string", "nullable": true, "description": "ID of the quote this invoice was generated from" },
          "linked_invoice_id": { "type": "string", "nullable": true, "description": "For credit notes: ID of the corrected invoice" },
          "deposit_invoices": { "type": "array", "items": { "$ref": "#/components/schemas/DepositInvoice" }, "description": "For balance invoices: prior deposit invoices deducted" },
          "account_id": { "type": "string", "nullable": true, "description": "ID of the buyer account (company)" },
          "contact_id": { "type": "string", "nullable": true, "description": "ID of the buyer contact" },
          "seller": { "allOf": [{ "$ref": "#/components/schemas/InvoiceSeller" }], "nullable": true },
          "account": { "allOf": [{ "$ref": "#/components/schemas/InvoiceAccount" }], "nullable": true },
          "contact": { "allOf": [{ "$ref": "#/components/schemas/InvoiceContact" }], "nullable": true },
          "pdf_url": { "type": "string", "nullable": true, "description": "URL of the generated PDF document" }
        }
      },
      "InvoiceLine": {
        "type": "object",
        "description": "Invoice line item as printed on the PDF. sum(lines[].total_excl_tax) - global_discount_excl_tax = amount_excl_tax (within rounding).",
        "properties": {
          "description": { "type": "string", "description": "Line label" },
          "quantity": { "type": "string", "description": "Decimal string (e.g. \"25.00\")" },
          "unit": { "type": "string", "nullable": true, "description": "Unit of measure when applicable (e.g. day for accommodation lines)" },
          "unit_price_excl_tax": { "type": "integer", "description": "Unit price excluding tax, in cents, before discount" },
          "discount": { "type": "integer", "description": "Total line discount, in cents (0 if none)" },
          "tax_rate": { "type": "string", "description": "VAT rate as decimal string (e.g. \"20.00\")" },
          "total_excl_tax": { "type": "integer", "description": "Line net amount in cents (can be negative on balance-invoice deduction lines)" }
        }
      },
      "DepositInvoice": {
        "type": "object",
        "description": "A prior deposit invoice deducted from a balance invoice.",
        "properties": {
          "id": { "type": "string" },
          "number": { "type": "string" },
          "date": { "type": "string", "description": "YYYY-MM-DD" },
          "amount_incl_tax": { "type": "integer", "description": "In cents" }
        }
      },
      "InvoiceSeller": {
        "type": "object",
        "description": "Frozen snapshot of the seller (your venue) at issue time. peppol_id is the only field read live.",
        "properties": {
          "id": { "type": "string", "nullable": true },
          "legal_name": { "type": "string", "nullable": true },
          "company_type": { "type": "string", "nullable": true },
          "company_registration_id": { "type": "string", "nullable": true, "description": "SIREN" },
          "vat_number": { "type": "string", "nullable": true },
          "share_capital": { "type": "string", "nullable": true, "description": "Share capital legal mention, verbatim" },
          "company_other_id": { "type": "string", "nullable": true },
          "address_line_1": { "type": "string", "nullable": true },
          "address_line_2": { "type": "string", "nullable": true },
          "postal_code": { "type": "string", "nullable": true },
          "city": { "type": "string", "nullable": true },
          "country": { "type": "string", "nullable": true, "description": "Verbatim as entered" },
          "country_code": { "type": "string", "nullable": true, "description": "ISO 3166-1 alpha-2, or null if unresolved" },
          "iban": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true }
        }
      },
      "InvoiceAccount": {
        "type": "object",
        "description": "Frozen snapshot of the buyer account (company) at issue time. peppol_id is read live.",
        "properties": {
          "id": { "type": "string", "nullable": true },
          "name": { "type": "string", "nullable": true },
          "legal_name": { "type": "string", "nullable": true },
          "company_type": { "type": "string", "nullable": true },
          "company_registration_id": { "type": "string", "nullable": true, "description": "SIREN" },
          "siret": { "type": "string", "nullable": true },
          "vat_number": { "type": "string", "nullable": true },
          "rcs_number": { "type": "string", "nullable": true },
          "address_line_1": { "type": "string", "nullable": true },
          "address_line_2": { "type": "string", "nullable": true },
          "postal_code": { "type": "string", "nullable": true },
          "city": { "type": "string", "nullable": true },
          "country": { "type": "string", "nullable": true },
          "country_code": { "type": "string", "nullable": true, "description": "ISO 3166-1 alpha-2" },
          "billing_address_line_1": { "type": "string", "nullable": true },
          "billing_address_line_2": { "type": "string", "nullable": true },
          "billing_postal_code": { "type": "string", "nullable": true },
          "billing_city": { "type": "string", "nullable": true },
          "billing_country": { "type": "string", "nullable": true },
          "billing_country_code": { "type": "string", "nullable": true, "description": "ISO 3166-1 alpha-2 for the billing country" },
          "peppol_id": { "type": "string", "nullable": true, "description": "Peppol participant ID for e-invoicing routing, read live" }
        }
      },
      "InvoiceContact": {
        "type": "object",
        "description": "Frozen snapshot of the buyer contact at issue time.",
        "properties": {
          "id": { "type": "string", "nullable": true },
          "first_name": { "type": "string", "nullable": true },
          "last_name": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "landline_phone": { "type": "string", "nullable": true },
          "title": { "type": "string", "nullable": true },
          "position": { "type": "string", "nullable": true },
          "company": { "type": "string", "nullable": true },
          "address_line_1": { "type": "string", "nullable": true },
          "address_line_2": { "type": "string", "nullable": true },
          "postal_code": { "type": "string", "nullable": true },
          "city": { "type": "string", "nullable": true },
          "country": { "type": "string", "nullable": true },
          "country_code": { "type": "string", "nullable": true, "description": "ISO 3166-1 alpha-2" }
        }
      },
      "Payment": {
        "type": "object",
        "description": "A payment. Identical to the `data` block of the payment.* webhooks. Amount is integer cents; dates are `YYYY-MM-DD` strings in the `Europe/Paris` timezone; timestamps are Unix milliseconds; missing values are explicit `null`.",
        "properties": {
          "id": { "type": "string", "description": "Unique payment ID" },
          "amount": { "type": "integer", "nullable": true, "description": "Amount in integer cents" },
          "status": { "type": "string", "nullable": true, "enum": ["waiting", "paid", "canceled"] },
          "name": { "type": "string", "nullable": true, "description": "Payment label as entered by the user" },
          "method": { "type": "string", "nullable": true, "description": "Payment method, verbatim label (not a normalized enum); appears in the venue locale language. Do not build logic on exact values." },
          "received_date": { "type": "string", "nullable": true, "description": "Date the payment was received, YYYY-MM-DD" },
          "due_date": { "type": "string", "nullable": true, "description": "Date the payment is expected, YYYY-MM-DD" },
          "created_at": { "type": "integer", "nullable": true, "description": "Creation timestamp, Unix milliseconds" },
          "updated_at": { "type": "integer", "nullable": true, "description": "Last update timestamp, Unix milliseconds" },
          "invoice_id": { "type": "string", "nullable": true, "description": "ID of the linked invoice (matches the invoice document id)" },
          "invoice_number": { "type": "string", "nullable": true, "description": "Number of the linked invoice, denormalized for convenience" },
          "quote_id": { "type": "string", "nullable": true, "description": "ID of the linked quote" },
          "booking_id": { "type": "string", "nullable": true, "description": "Opaque correlation key of the booking, shared by all payments and invoices of the same booking" }
        }
      }
    },
    "responses": {
      "RateLimitExceeded": {
        "description": "Rate limit exceeded - too many requests",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "Maximum requests allowed per minute"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            },
            "description": "Requests remaining (always 0 on 429)"
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp when the rate limit resets"
          },
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds to wait before retrying"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RateLimitResponse"
            },
            "example": {
              "message": "Rate limit exceeded",
              "data": {
                "limit": 60,
                "window": "60 seconds",
                "remaining": 0,
                "resetAt": "2025-11-17T14:30:00.000Z",
                "retryAfter": 45
              }
            }
          }
        }
      }
    }
  }
}
